body {
	margin: 0;
	padding: 0;
	font: 16px/1.6em 'Kite One', sans-serif;
	color: #333;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

h1 {
	width: 569px; height: 166px;
	background: url("logo.png");
	text-indent: -9999px;
	margin: 20px auto;
}

table tr th:first-child, table tr td:first-child {
	text-align: center;
}

table tr th {
	padding: 10px;
}

table tr td {
	padding: 10px;
}

table th {
	background: rgb(24,163,221); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(24,163,221,1) 0%, rgba(9,111,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,163,221,1)), color-stop(100%,rgba(9,111,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(24,163,221,1) 0%,rgba(9,111,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(24,163,221,1) 0%,rgba(9,111,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(24,163,221,1) 0%,rgba(9,111,181,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(24,163,221,1) 0%,rgba(9,111,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a3dd', endColorstr='#096fb5',GradientType=0 ); /* IE6-9 */
	color: white;
}

table {
	border: 1px solid #d9d9d9;
}

table tr td {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */	
}

table tr td:hover {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(210,210,210,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(210,210,210,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(210,210,210,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(210,210,210,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(210,210,210,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(210,210,210,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */

	cursor: pointer;
}

table tr:last-child td {
	border-bottom: none;
}

table tr th:nth-child(2) {
	width: 40px;
}

table tr th:last-child {
	width: 150px;
}

table tr th:nth-child(4) {
	width: 200px;
}

table tr td:nth-child(3) {
	font-size:1.3em;
	line-height: 1.4
}

table caption {
	font-size: 1.5em;
	line-height: 2em;
}

.edit-talk-form{
  display: none;
}
